#react-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 15px;
  color: $darkest-gray;
}

input, button {
  outline: none;

  &:active, &:focus {
    box-shadow: 0 0 15px $shadow-color;
  }
}

.error {
  input:focus, input:active {
    box-shadow: 0 0 15px $red;
  }
}
