$green: #51c055;
$darker-green: #4aa74e;

$red: #ff6557;

$lighter-gray: #f2f2f2;
$gray: #e1e1e1;
$darker-gray: #6e6e6e;
$darkest-gray: #585858;

$shadow-color: rgb(208, 208, 208);
$active-dropdown-background-color: #f8f8f8;
