.transfer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 5px;
  box-shadow: 0 0 15px $shadow-color;
  padding: 20px 30px;

  min-width: 550px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;

  label {
    margin-bottom: 5px;
  }
}

.form-input {
  width: 100%;
  padding: 10px 15px;

  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px $shadow-color;
  transition: all .5s ease-in-out;
}

.submit-button {
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px $shadow-color;
  padding: 10px;
  transition: all .2s ease-in-out;

  color: white;
  background-color: $green;

  &:hover {
    background-color: $darker-green;
  }

  &:disabled {
    color: black;
    background-color: $gray;
    cursor: default;
  }
}