.user-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .users-dropdown-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;

    max-height: 150px;
    overflow-y: auto;

    margin-top: 1px;
    padding: 0;
    margin-bottom: 0;

    border-radius: 5px;
    box-shadow: 0 0 2px $shadow-color;

    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 5px 15px;
      transition: all .2s ease-in-out;
      min-height: 60px;

      &:hover {
        background-color: $lighter-gray;
      }

      span {
        text-align: left;
      }

      .user-username {
        font-size: 14px;
        font-weight: bold;
      }

      .user-balance, .user-tnn {
        font-size: 13px;
      }
    }
  }
}